aiohttp
aiosignal
annotated-types
appnope
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
Brotli
certifi
cffi
charset-normalizer
colorama
comm
cryptography
datasets
debugpy
decorator
defusedxml
dill
diskcache
Django
django-cors-headers
django-oauth-toolkit
djangorestframework
dnspython
docopt
email_validator
exceptiongroup
executing
fastjsonschema
filelock
frozenlist
fsspec
huggingface_hub
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
jwcrypto
llama_cpp_python
loguru
MarkupSafe
matplotlib-inline
mistune
multidict
multiprocess
nbclient
nbconvert
nbformat
nest_asyncio
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pip
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
pyarrow-hotfix
pycparser
pydantic
pydantic_core
Pygments
PyJWT
PySocks
python-dateutil
python-decouple
pytz
PyYAML
pyzmq
referencing
regex
requests
rpds-py
safetensors
setuptools
six
sniffio
soupsieve
sqlparse
stack-data
tinycss2
tokenizers
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
webencodings
wheel
xxhash
yarg
yarl
zipp
